.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container{
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} 

:root {
    --menu: #CDA274;
    --menu-color: #292F36;
    --text: #4D5053;
    --color: #FFF;
    --background: #F4F0EC;
    --text-color: #CDA274;
}

body {
    font-family: 'Jost', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}

a {
    text-decoration: none
}

/* header */
.header-box {
   display: flex;
   justify-content: flex-start;
   margin-top: 26px;
   margin-bottom: 38px;
}

.header-logo {
   margin-top: 26px;
   margin-left: 120px;
}

.header-title {
    color: var(--menu-color);
    font-size: 19px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.4px;
}

.header-title:hover,
.header-title:focus {
    color: var(--menu);
    cursor: pointer;
}

.header-list {
    display: flex;
    margin-top: 38px;
    margin-left: 505px;
}

.header-item {
    margin-right: 40px;
}

/* create */
.create {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    height: 831px;
    background-position: center;
}

.create-box {
    margin-left: 120px;
    padding-top: 188px;
    padding-bottom: 260px;
}

.create-title {
    color: var(--menu-color);
    font-family: "DM Serif Display";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px; 
    letter-spacing: 0.22px;
    width: 595px;
    margin-bottom: 19px;
}

.create-p {
    color: var(--text);
    font-size: 22px;
    font-style: normal;
    line-height: 33px;
    letter-spacing: 0.22px;
    width: 577px;
}

.create-button {
    color: var(--color);
    font-size: 18px;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 0.72px;
    stroke-width: 2px;
    background-color: #292F36;
    width: 207px;
    height: 71px;
    border-radius: 18px;
    margin-top: 35px
}

/* interior */
.interior-title {
    color: var(--menu-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; 
    letter-spacing: 0.22px;
}

.interior-p-one {

}

.interior-p-two {

}

.interior-p-three {
    
}