// :root {
//     --menu: #CDA274;
//     --menu-color: #292F36;
//     --text: #4D5053;
//     --color: #FFF;
//     --background: #F4F0EC;
//     --text-color: #CDA274;
// }

$menu-one-color: #CDA274;
$menu-color: #292F36;
$text-one-color: #4D5053;
$title-color: #FFF;
$background-color: #F4F0EC;
$text-color: #CDA274;