.brand-title {
    color: #FFF;
}

.brand-list {
    display: flex;
    justify-content: center;
    gap: 110px;
    padding-top: 140px;
    padding-bottom: 99px;
}

.brand-item-one {
    margin-top: -30px;
}