.create {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    height: 831px;
    background-position: center;
}

.create-box {
    padding-top: 188px;
    padding-bottom: 260px;
}

.create-title {
    color: $menu-color;
    font-family: "DM Serif Display";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px; 
    letter-spacing: 0.22px;
    width: 595px;
    margin-bottom: 19px;
}

.create-p {
    color: $text-one-color;
    font-size: 22px;
    font-style: normal;
    line-height: 33px;
    letter-spacing: 0.22px;
    width: 577px;
}

.create-button {
    color: $title-color;
    font-size: 18px;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 0.72px;
    stroke-width: 2px;
    background-color: $menu-color;
    border: 2px solid $menu-color;
    width: 207px;
    height: 71px;
    border-radius: 18px;
    margin-top: 35px
}

.create-button:hover,
.create-button:focus {
    background-color: $title-color;
    color: $menu-color;
    cursor: pointer;
}