.footer-logo  {
    margin-bottom: 15px;
}

.footer-p {
    color: var(--text);
    font-size: 22px;
    font-style: normal;
    line-height: 33px;
    letter-spacing: 0.22px;
    width: 326px;
}

.footer-list-one {
    margin-right: 113px;
}

.footer-box {
    fill: var(--menu-color);
    width: 16px;
    height: 17px;
}

.footer-item-one {
    color: var(--text);
    font-size: 22px;
    font-style: normal;
    line-height: 33px; 
    letter-spacing: 0.22px;
    margin-bottom: 30px;
}

.footer-title-one {
    color: var(--menu-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px; 
    letter-spacing: 0.22px;
    width: 65px;
    margin-bottom: 21px;
}

.footer-list-two {
    margin-right: 103px;
}

.footer-item-two {
    margin-bottom: 30px;
}

.footer-item-two {
    color: var(--text);
    font-size: 22px;
    font-style: normal;
    line-height: 33px; 
    letter-spacing: 0.22px;
}

.footer-title-two{
    color: var(--menu-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px; 
    letter-spacing: 0.22px;
    width: 89px;
    margin-bottom: 21px;
}

.footer-title-three {
    color: var(--menu-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px; 
    letter-spacing: 0.22px;
    width: 88px;
    margin-bottom: 22px;
}

.footer-address-one {
    color: var(--text);
    font-size: 22px;
    font-style: normal;
    line-height: 33px; 
    letter-spacing: 0.22px;
    width: 321px;
}

.footer-address-one:hover,
.footer-address-one:focus {
    color: var(--menu);
    cursor: pointer;
}

.footer-mail {
    color: var(--text);
    font-size: 22px;
    font-style: normal;
    line-height: 33px; 
    letter-spacing: 0.22px;
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--menu);
    cursor: pointer;
}

.footer-tell {
    color: var(--text);
    font-size: 22px;
    font-style: normal;
    line-height: 33px; 
    letter-spacing: 0.22px;
}

.footer-tell:hover,
.footer-tell:focus {
    color: var(--menu);
    cursor: pointer;
}

.footer-address-item {
    margin-bottom: 29px;
}

.footer-div-two {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    margin-top: 35px;
}

.footer-p-one {
    color: var(--text);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    line-height: 33px; 
    letter-spacing: 0.22px;
}

.footer-p-two {
    color: var(--text-color);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    line-height: 33px; 
    letter-spacing: 0.22px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer-hr {
    background: #E5E5E5;
    width: 1440px;
    height: 1px;
}

.footer-box-one {
    margin-right: 83px;
}

.footer-div {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 111px;
}

.footer-list {
    display: flex;
    margin-top: 29px;
}

.footer-item {
    margin-right: 40px;
}